__pycache__/*
.DS_Store
.ipynb_checkpoints/*

data/*
logs/*

*.sh
*.zip

BACKDOOR_NAME/*/*
BACKDOOR_NAME/.*
POISON/*/*
POISON/.*
IBD/*/*
IBD/.*
TRIGGER_GENERATION/*/*
TRIGGER_GENERATION/.*
BACKDOOR_INJECTION/*/*
BACKDOOR_INJECTION/.*
TACT/*/*
TACT/.*
BADNETS/*/*
BADNETS/.*
ROC/*

clustering_analyse.py
tsne.py
