__pycache__/*
.DS_Store
.ipynb_checkpoints/*

data/*
logs/*
ROC/*

*.sh
*.zip

CLEAN/*/*
CLEAN/.*
BACKDOOR_NAME/*/*
BACKDOOR_NAME/.*
POISON/*/*
POISON/.*
IBD/*/*
IBD/.*
TRIGGER_GENERATION/*/*
TRIGGER_GENERATION/.*
BACKDOOR_INJECTION/*/*
BACKDOOR_INJECTION/.*
TACT/*/*
TACT/.*
BADNETS/*/*
BADNETS/.*
